
.news-box dd{
    margin-top:11px;
}

.clear{
    clear: both;
}

ul{
    list-style: none;
}

.news-box dd li{
    background: url("../images/dot.png") no-repeat left;
    background-size: 8px 8px;
    padding: 2px 0px 2px 20px;
    font-size: 16px;
    line-height: 28px;
}

.mydate {
    font-size: 16px;
    color: #999;
    margin-left: 2px;
}


.part1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-b{
    width: 49% !important;
    height: 312px !important;
    margin: 0 0 !important;
    margin-left: 0 !important;
    margin-top:10px !important;
}

.news-b .news-box .clear a{
    max-width: 442px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.news-b .news-box .clear li{
    display: flex;
}

.news-b .news-box .clear li span{
    display: inline-block;
}